language: haxe

haxe:
  - 3.4.0

matrix:
  allow_failures:
    - haxe: development
  fast_finish: true

env:
  - TARGET=flash COMMAND=openfl OPENFL=3.6.1 LIME=2.9.1 DOCS=1
  - TARGET=neko COMMAND=openfl OPENFL=3.6.1 LIME=2.9.1 TEST=openfl3 DOCS=1
  - TARGET=cpp COMMAND=openfl OPENFL=3.6.1 LIME=2.9.1
  - TARGET=html5 COMMAND=openfl OPENFL=3.6.1 LIME=2.9.1
  - TARGET=flash COMMAND=openfl OPENFL=4.4.1 LIME=3.4.1 DOCS=1
  - TARGET=neko COMMAND=openfl OPENFL=4.4.1 LIME=3.4.1 TEST=openfl4 DOCS=1
  - TARGET=cpp COMMAND=openfl OPENFL=4.4.1 LIME=3.4.1
  - TARGET=html5 COMMAND=openfl OPENFL=4.4.1 LIME=3.4.1
  - TARGET=neko COMMAND=openfl OPENFL=4.9.1 LIME=4.0.1 TEST=openfl4
  - TARGET=cpp COMMAND=openfl OPENFL=4.9.1 LIME=4.0.1
  - TARGET=html5 COMMAND=openfl OPENFL=4.9.1 LIME=4.0.1
  - TARGET=flash COMMAND=nme NME=5.6.4 OPENFL=3.6.1 LIME=2.9.1
  - TARGET=neko COMMAND=nme NME=5.6.4 OPENFL=3.6.1 LIME=2.9.1 TEST=nme
  - TARGET=cpp COMMAND=nme NME=5.6.4 OPENFL=3.6.1 LIME=2.9.1

sudo: false

install:
  - yes | haxelib install hxcpp 3.4.49 > log.txt || cat log.txt
  - if [[ $TEST ]]; then
        yes | haxelib install munit > log.txt || cat log.txt;
        yes | haxelib install mcover > log.txt || cat log.txt;
        yes | haxelib install hamcrest > log.txt || cat log.txt;
    fi
  - if [[ $LIME ]]; then yes | haxelib install lime $LIME > log.txt || cat log.txt; fi
  - if [[ $OPENFL ]]; then yes | haxelib install openfl $OPENFL > log.txt || cat log.txt; fi
  - if [[ $NME ]]; then yes | haxelib install nme $NME > log.txt || cat log.txt; fi
  - yes | haxelib install dox > log.txt || cat log.txt
  - haxelib set hxcpp 3.4.49
  - haxelib dev HaxePunk $TRAVIS_BUILD_DIR
  - haxelib list

script:
  - export HXCPP_COMPILE_CACHE=~/.hxcpp_cache
  - make clean tools COMMAND=$COMMAND TARGET=$TARGET
  - if [[ $TEST ]]; then make unit TEST=$TEST; fi
  - make examples COMMAND=$COMMAND TARGET=$TARGET
  - if [[ $DOCS ]]; then make docs COMMAND=$COMMAND TARGET=$TARGET; fi

cache:
  directories:
    - $HOME/haxe/lib

notifications:
  slack:
    on_success: never
    on_failure: never
    rooms:
      - openfl:sBwVO0kgB7EuWLYzZzUezVIz#haxepunk
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b5256a55779b5e854b0a
    on_success: change
    on_failure: always
    on_start: never
  email:
    on_success: change
    on_failure: change

git:
  depth: 1
