language: haxe

haxe:
  - "3.2.0"
  - development

matrix:
  allow_failures:
    - haxe: development

env:
  - TARGET=flash COMMAND=openfl OPENFL_VERSION=3.6.1 LIME_VERSION=2.9.1
  - TARGET=neko COMMAND=openfl OPENFL_VERSION=3.6.1 LIME_VERSION=2.9.1
  - TARGET=cpp COMMAND=openfl OPENFL_VERSION=3.6.1 LIME_VERSION=2.9.1
  - TARGET=html5 COMMAND=openfl OPENFL_VERSION=3.6.1 LIME_VERSION=2.9.1
  - TARGET=flash COMMAND=openfl OPENFL_VERSION=4.2.0 LIME_VERSION=3.2.1
  - TARGET=neko COMMAND=openfl OPENFL_VERSION=4.2.0 LIME_VERSION=3.2.1
  - TARGET=cpp COMMAND=openfl OPENFL_VERSION=4.2.0 LIME_VERSION=3.2.1
  - TARGET=html5 COMMAND=openfl OPENFL_VERSION=4.2.0 LIME_VERSION=3.2.1
  - TARGET=flash COMMAND=nme NME_VERSION=5.6.4
  - TARGET=neko COMMAND=nme NME_VERSION=5.6.4
  - TARGET=cpp COMMAND=nme NME_VERSION=5.6.4

neko: "2.0.0"

sudo: false

install:
  - haxelib dev HaxePunk $TRAVIS_BUILD_DIR

  - if [[ $LIME_VERSION ]]; then yes | haxelib install lime $LIME_VERSION > log.txt || cat log.txt; fi
  - if [[ $OPENFL_VERSION ]]; then yes | haxelib install openfl $OPENFL_VERSION > log.txt || cat log.txt; fi
  - if [[ $NME_VERSION ]]; then yes | haxelib install nme $NME_VERSION > log.txt || cat log.txt; fi
  - yes | haxelib install dox > log.txt || cat log.txt
  - haxelib list

script:
  - export HXCPP_COMPILE_CACHE=~/.hxcpp_cache
  - make clean tools unit examples docs COMMAND=$COMMAND TARGET=$TARGET

cache:
  directories:
    - $HOME/haxe/lib

notifications:
  slack:
    on_success: never
    on_failure: never
    rooms:
      - openfl:sBwVO0kgB7EuWLYzZzUezVIz#haxepunk
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b5256a55779b5e854b0a
    on_success: change
    on_failure: always
    on_start: never
