language: java

env: LD_LIBRARY_PATH=/usr/lib/neko

before_install:
  # Install haxe 3.0 dependencies
  - sudo apt-get install ocaml camlp4 ocaml-findlib cvs zlib1g-dev make wget tar subversion libgc1c2
  # Install haxe 3.0 (trunk)
  - svn checkout http://haxe.googlecode.com/svn/trunk haxe_trunk > /dev/null
  - cd haxe_trunk
  - make
  - sudo make install
  - cd ..
  # Install neko dependencies
  #- sudo apt-get install apache2 apache2-threaded-dev libmysqlclient15-dev libpcre3-dev libgc-dev libgtk2.0-dev
  # Install neko 2.0 (trunk)
  #- svn checkout http://nekovm.googlecode.com/svn/trunk neko_trunk
  #- cd neko_trunk
  #- make
  #- sudo make install
  - curl http://nekovm.org/_media/neko-2.0.0-linux64.tar.gz | tar xzf -
  - sudo mv neko-2.0.0-linux /usr/lib/neko
  - sudo cp /usr/lib/neko/neko /usr/bin/neko
  - sudo cp /usr/lib/neko/nekoc /usr/bin/nekoc
  - sudo cp /usr/lib/neko/nekotools /usr/bin/nekotools
  - mkdir -p ~/.haxe/lib
  - echo ~/.haxe/lib | haxelib setup
  - haxelib install nme || true

script:
  - ant clean build unit
